{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <h1>Авторизация</h1>
    {% if form.errors %}
        <p>
            Ваше имя пользователя и пароль не совпадают!
            Пожалуйста, попробуйте снова.
        </p>
    {% else %}
        <p>Введите, пожалуйста, данные для входа на сайт:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}
