{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
    <div class="col-7">
        <h2>Личный кабинет</h2>
        <p>Добро пожаловать в личный кабинет, {{ request.user.full_name }}!</p>

        {% if user.is_staff %}
            <a class="link-info" href="{% url 'article_add' %}">Создать статью</a>
        {% endif %}

        <p>Проверь свои данные:</p>

        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Телефон</th>
                    <td>{% if user.phone %}{{ user.phone }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Почта</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Имя</th>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Отчество</th>
                    <td>{% if user.middle_name %}{{ user.middle_name }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Фамилия</th>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <th scope="row">День рождения</th>
                    <td>{% if user.birthday %}{{ user.birthday }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Должность</th>
                    <td>{% if user.position %}{{ user.position }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Отдел</th>
                    <td>{% if user.department %}{{ user.department }}{% else %}-{% endif %}</td>
                </tr>
                <tr>
                    <th scope="row">Роли</th>
                    <td>{% if user.get_all_role_names %}
                        {% for role in user.get_all_role_names %}
                            {{ role }}
                        {% endfor %}
                    {% else %}-{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
